asttokens
blinker
Bottleneck
Brotli
category_encoders
click
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
Flask
Flask-Cors
fonttools
graphviz
imbalanced-learn
importlib_metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mkl-service==2.4.0
mkl_fft
mkl_random
nest_asyncio
numexpr
numpy
packaging
pandas
parso
patsy
pickleshare
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
PyQt6==6.7.1
PyQt6_sip
python-dateutil
pytz
pywin32==308
pyzmq
scikit-learn
scipy
seaborn
sip
six
sklearn-compat
stack_data
statsmodels
threadpoolctl
tomli
tornado
traitlets
typing_extensions
tzdata
unicodedata2
wcwidth
Werkzeug
zipp
